.split-graphic {
    img {
        display: block;
        max-width: 80%;
        margin: 0 auto; 
    } 
}

@media(max-width: $screen-sm){
    .split-graphic-row {
        display: flex;
        flex-wrap: wrap;
        .col-sm-6 {
            order: 0;
            width: 100%;
            float: initial;
        }
        .split-graphic {
            order: 2;
            .content-container {
                margin-top: 0;
            }
        } 
    }
}