{% extends "./layouts/default.html" %}


{% block content %}

<div class="test-section">
    <div id='a' class="trigger-item" data-scroll-trigger="trigger"></div>
</div>
<div class="test-section">
    <div class="trigger-item" data-scroll-trigger="trigger2" data-trigger-offset="400px" data-scroll-repeat></div> 
</div>
<div class="test-section">
    <div class="trigger-item" data-scroll-trigger="trigger3" data-trigger-offset="90%"></div>
</div>
<div class="test-section">
    <div class="trigger-item" data-scroll-trigger="trigger3" data-trigger-offset="200"></div>
</div>
<div class="test-section">
    <div class="trigger-item" data-scroll-trigger="trigger3" data-trigger-offset="tht"></div>
</div>

{% endblock %}

<!-- <div class="test-section">
    <div id='a' class="trigger-item" data-scroll-trigger="trigger"></div>
</div>
<div class="test-section">
    <div class="trigger-item" data-scroll-trigger="trigger2" data-trigger-offset="400" data-scroll-repeat></div> 
</div>
<div class="test-section">
    <div class="trigger-item" data-scroll-trigger="trigger3" data-trigger-offset="200"></div>
</div> -->