/* _typography.scss is used for setting the base typography for the project */

html {
    font-size: 16px;
    @media (max-width: $screen-sm) {
        font-size: 14px;
    }
}

h1 {
    font-size: 2rem; //32px;
    margin: 25px 0;
}
h2 {
    font-size: 1.625rem; //26px
    margin: 20px 0;
}
h3 {
    font-size: 1.25rem; //20px
    // margin: 20px 0;
}
h4 {
    font-size: 1.125rem; //18px
}
h5 {
    font-size: 1rem; //16px
}
h6 {
    font-size: 0.875rem; //14px
}

p {
    font-size: 1rem; //16px
}

a {
    cursor: pointer;
    &:hover{
        text-decoration: none;
    }
}