.test-section {
    min-height: 110vh;
    padding: 100px 0;
    text-align: center;
    &:nth-last-of-type(even) {
        background: #f7f7f7;
    }
}
[data-scroll-trigger] {
    background: blue;
    display: inline-block;
    width: 100px;
    height: 100px;
    transition: 0.5s ease;
    @media (max-width: 800px){
        height: 200px;
    }
    &.trigger {
        animation: bounce 0.5s ease forwards;
    }
    &.trigger2 {
        transform: rotate(135deg);
        background: orange;
    }
    &.trigger3 {
        transform: rotate(135deg);
        background: #ff7fe9;
    }
}

@keyframes bounce {
    0% {transform: scale(1) translateY(0)}
    60% {transform: scale(1.1) translateY(50px)}
    80% {transform: scale(0.9) translateY(50px)}
    100% {transform: scale(1) translateY(50px)}

}