<!doctype html>
<!--[if lte IE 8]><html class="no-js is-lte-ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js is-ie9" lang="en"><![endif]-->
<!--[if (gt IE 9)|(!IE)]><!--><html class="no-js" lang="en" data-placeholder-focus="false"><!--<![endif]-->
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Bootstrap Sass starter structure</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.css">
    <link rel="stylesheet" href="assets/css/main.min.css">
</head>
    <body>

        <div class="site-constraint"> 
            {% block content %}{% endblock %}
        </div>

        <script src="assets/js/app.min.js"></script>
    </body>
</html>